AlignAfterOpenBracket: DontAlign
AlignEscapedNewlines: DontAlign
AlignTrailingComments: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: true
BinPackParameters: false
ColumnLimit: 120
ContinuationIndentWidth: 8
IndentWidth: 8
InsertNewlineAtEOF: true
SortIncludes: Never
TabWidth: 8
UseTab: ForIndentation
